html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 12px;
}

body {
    font-family: 'Arial', sans-serif;
}

.clear {
    clear: both;
}

#items-template {
    display: none;
}

#header {
    z-index: 5000;
    height: 40px;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #f4f6f7;
    box-shadow: 0px 0px 10px #2E2E2E;
    font-size: 2em;
}

#header a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    display: block;
    text-decoration: none;
}

#header a:active {
    -webkit-transform: scale3d(0.8, 0.8, 1);
}

#refresh-button {
    padding: 20px 30px 20px 20px;
    /* use a background image instead of a webkit mask because android has a bug
    when showing masks in a fixed container. bummer ;( */
    background: url('../images/refresh.png') no-repeat center center;
}

#back-button {
    padding: 17px 30px 10px 30px;
    background: url('../images/back.png') no-repeat center left;
    font-size: 0.5em;
    color: #999999;
    margin-left: 14px;
}

#back-button {
    float: left;
}

#refresh-button {
    float: right;
}

#items {
    list-style-type:none;
    padding: 40px 0 0 0;
    margin: 0;
}

#items li {
    background: #87509a;
    background: -webkit-gradient(linear, left top, right bottom, from(#725dba), to(#87509a));
    padding: 25px 20px 24px 20px;
    border-bottom: 2px solid #C1BBCE;
    color: #EEEEEE;
    font-weight: bold;
}

#items li:hover {
    background: #d21e2b;
    background: -webkit-gradient(linear, left top, right bottom, from(#a73a6a), to(#d21e2b));
}

#items .icon {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    -webkit-mask-size: 50px;
    float: left;
    margin-right: 20px;
}

#items .file .title {
    font-size: 1.8em;
}

#items .small-text {
    font-size: 0.8em;
    color: #D3D0D0;
}

#items .folder .title {
    font-size: 2.4em;
    margin-top: 14px;
}

#items .holder {
    float: left;
}

#items .folder .icon {
    -webkit-mask-image: url('../images/folder50.png');
}

#items .file .icon {
    -webkit-mask-image: url('../images/document28.png');
}


#loading-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -85px;
    width: 170px;
    height: 100px;
    background-color: #dddddd;
    border-radius: 5px;
    text-align: center;
    font-size: 2em;
    line-height: 100px;
    opacity: 0.5;
    display: none;
}
